.topps{
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: 0 0 0 2.5;
}
.wedding{
    height: 100vh;
}
.actively{
    padding-top: 1cm;
}
.birthday{
    height: 100vh;
    padding-top: 14cm;
}
.desert{
    height: 100vh;
    padding-top: 25cm;
}
.pastry{
    height: 100vh;
    padding-top: 29cm;
}
.bread{
    height: 100vh;
    padding-top: 30cm;
}