.topps{
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: 0 0 0 2.5;
  
}
.wedding{
    height: 100vh;
}
.birthday{
    height: 100vh;
}
.desert{
    height: 100vh;
}
.pastry{
    height: 100vh;
}
.bread{
    height: 100vh;
}