#bg-img{
    background-image: url("/bak.webp");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
    
    
}
.topnav {
    background-color: gray;
    overflow: hidden;
    /* background-image: url("/assets/logo.png");
    background-repeat: no-repeat;
    height: 30vh; */
    
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px ;
    text-decoration: none;
    font-size: 17px;
    
  }
 
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  /* .container {
    
    position: relative;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
  }
  .container head{
    font-weight: 600;
    
  } */
  .clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

.wrapper
    {
    width: 100%;
    height: auto; 
    max-width: 2000px;
    margin-left:auto;
    margin-right:auto;
    } 

.container
    { 
    width: 20%;
    background-color:#F6F6F6;
    height: 200px;
    float: left;
    position: fixed;
    max-width: 2000px;
    margin-left:auto;
    margin-right:auto;
    top: 30%;
    }

    .slider {
        width: 80%; 
        height: 20px;
        float: right; 
        position: relative;
        background-color: #8A0002;
        /* opacity: .2; */
        max-width: 2000px;
        margin-left:auto;
        margin-right:auto;
        }
  * {
    box-sizing: border-box;
    }
    
    .openBtn {
    background-color: dodgerblue;
    border: 2px solid-black;
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 40px;
    position: absolute;
    top: 86%;
    left: 7%;
    cursor: pointer;
    }
    
    .openBtn:hover {
    background: green;
    }
    
    .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    }
    
    .overlay-content {
    position: relative;
    top: 50%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
    }
    
    .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 80px;
    cursor: pointer;
    color: white;
    }
    
    .overlay .closebtn:hover {
    color: blue;
    }
    
    .overlay input[type="text"] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
    }
    
    .overlay input[type="text"]:hover {
    background: #f1f1f1;
    }
    
    .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: dodger-blue;
    font-size: 17px;
    border: none;
    cursor: pointer;
    }
    
    .overlay button:hover {
    background: #bbb;
    }
  
